
            body { padding: 2em;}

            .headerContainer{
                display: flex;
                flex-flow: column wrap;
                align-content: center;
                background: tomato;
                font-weight: bold;
                padding: 20px;
            }
            .mainContainer{
                display: flex;
                flex-flow: row wrap;
                font-weight: bold;
                text-align: center;
            }
            .footerContainer{
                display: flex;
                flex-flow: column wrap;
                align-content: center;
                background: lightgreen;
                font-weight: bold;
                padding: 10px;
            }
            article{
                padding: 10px;
                margin: 10px;
                background: aqua;
            }
            .sideBarItem{
                flex: 1 0 0;
                border: 0px solid green;
            }
            .sideBarLeftItem{
                background: gold;
                order:1;
            }
            .sideBarRightItem{
                background: hotpink;
                order:3;
            }
            .mainContentItem{
                text-align: left;
                background: deepskyblue;
                flex: 3 0px;
                order:2;
            }

        